/*
Syntax error: Invalid CSS after "  font-size: 1.0em": expected ";", was ":"
        on line 30 of /Users/haruka/Dropbox/octopress/sass/base/_typography.scss
        from line 4 of /Users/haruka/Dropbox/octopress/sass/_base.scss
        from line 8 of /Users/haruka/Dropbox/octopress/sass/screen.scss

Backtrace:
/Users/haruka/Dropbox/octopress/sass/base/_typography.scss:30
/Users/haruka/Dropbox/octopress/sass/_base.scss:4
/Users/haruka/Dropbox/octopress/sass/screen.scss:8
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1148:in `expected'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1084:in `expected'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1079:in `tok!'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:586:in `block in declaration_or_ruleset'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `call'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:554:in `block_child'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:535:in `block'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:553:in `block_child'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:27:in `parse'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:342:in `_to_tree'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:274:in `to_tree'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/bin/compass:23:in `load'
/Users/haruka/Dropbox/octopress/vendor/bundle/ruby/1.9.1/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  font-size: 1.0em\": expected \";\", was \":\"\A         on line 30 of /Users/haruka/Dropbox/octopress/sass/base/_typography.scss\A         from line 4 of /Users/haruka/Dropbox/octopress/sass/_base.scss\A         from line 8 of /Users/haruka/Dropbox/octopress/sass/screen.scss"; }
